# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.venv/
env/
venv/

# OS/editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Your project specifics
static/outputs/        # not used anymore, but ignore just in case
*.zip
*.tar
*.tar.gz
